.search {
  height: 100%;
  /* display: grid;
  align-items: start; */
}

.search h1 {
  font-family: "Space Grotesk", sans-serif;
  font-size: 3rem;
  margin-bottom: var(--medium-space);
}

.search form {
  display: grid;
  justify-items: center;
}

.search p {
  font-size: 1.3rem;
  margin-bottom: var(--small-space);
}

.search .alternative {
  font-weight: 700;
}

.search label {
  font-size: 1.2rem;
  font-weight: 700;
  color: var(--blue);
  margin-bottom: var(--smaller-space);
}

.search input {
  border-radius: 3rem;
  border: none;
  background-color: var(--green);
  height: 2.5rem;
  width: 13rem;
  outline: none;
  text-align: center;
  font-size: 1.6rem;
  margin-bottom: var(--smaller-space);
}

@media (min-width: 750px) {
  .search .forms {
    display: grid;
    grid-template-columns: 1fr 10rem 1fr;
    align-items: center;
    column-gap: var(--big-space);
    margin: var(--bigger-space);
    padding: var(--medium-space);
  }

  .search input {
    height: 3rem;
    width: 15rem;
  }

  .search label {
    font-size: 1.4rem;
  }

  .search .intro-text p {
    font-size: 1.7rem;
  }
}
